.l_homeF{
    text-shadow: -1px -1px 0 #ecb42d, 1px -1px 0 #ecb42d, -1px 1px 0 #ecb42d, 1px 1px 0 #ecb42d;
}
ul.l_homeF li:not(:last-child)::after {
    content: "|";
    margin-left: 2rem;
    margin-right: 2rem;
}
.filtroModal{
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 50px;
    font-size: 25px;
    border: 2px solid #ecb42d;
    text-shadow: 0px 4px 4px #ecb42d;
}
#inputBuscador:focus{
    outline: none;
    box-shadow: 0px 3px 4px #012b29;
}
